header {
    background: url(../Assets/header-imgcrop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
}

header, .sidenav li>a{
    color: white;
}

.nav-menu a {
    color: black;
}

header button {
    border: white 1px solid !important;
}

header button:hover {
    background: rgba(000, 000,000, 0.2) !important;
}

header h1 {
    margin-top: 10%;
}

section {
    min-height: 100vh;
}

section h1 {
    margin-bottom: 8%;
}

hr {
    margin: 5% 0 0;
}

.parallax-div {
    background: url(../Assets/parallax-imgcrop.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
}

.parallax-div h1 {
    margin: 15vh 0;
}

/* Overriding card-reveal default properties */
.card .card-reveal {
    padding: 0px;
}

footer {
    min-height: 40vh;
}